:root {
	--green: #e1eedd;
	--cream: #fefbe9;
	--orange: #f0a04b;
	--yellow: #f6c453;
	--black: #183a1d;
	--title-font: 'Azeret Mono', monospace;
	--content-font: 'Roboto', sans-serif;
	--extra-font: 'Cormorant Garamond', serif;
}

/*
======================================
*/

body {
	background-color: var(--cream);
	font-size: 16px;
	color: var(--black);
	width: 60vw;
	margin: 0 auto;
    padding: 5vw 0;
}	
.intro p, .history p, .bakery_intro p, .desc, .news p {
	font-size: 1.2em;
	font-family: var(--content-font);
	line-height: 2;
    margin-bottom: 2vw;
}
.bakery div dt {
    font-size: 1em;
	font-family: var(--title-font);
    font-style: italic;
	font-weight: bold;
    margin-top: 1vw;
	margin-bottom: 0.5vw;
}
.bakery div dd{
    font-size: 1em;
	font-family: var(--content-font);
	line-height: 1.5;
}
a {
    font-weight: bold;
    color: var(--orange);
    text-decoration: none;
    border-bottom: solid 2px var(--orange);
}
a::after{
    content: " ↗";
}
a:hover{
    color: var(--yellow);
    border-bottom: solid 2px var(--yellow);
}
h1 {
    font-family: var(--title-font);
	font-size: 2.2em;
    font-weight: bold;
	line-height:1.5;
    text-shadow: 3px 3px var(--green);
}
h2 {
	font-size: 1.5em;
	font-family: var(--title-font);
	font-weight: bold;
	padding-top: 2vw;
	margin-bottom: 2vw;
    text-shadow: 2px 2px var(--green);
}
h3{
	font-size: 1.3em;
	font-family: var(--title-font);
	font-weight: bold;
	margin-bottom: 1vw;
}

/*
======================================
*/

.bakery_info{
    border-radius: 10px;
    background-color: var(--green);
    padding: 2vw;
    margin-bottom: 2vw;
	box-shadow: 5px 5px var(--yellow);
}

/*
======================================
*/
header {
	background-image: url("../image/header.png");
	background-repeat: no-repeat; /* Do not repeat the image */
  	background-size: cover; 
	height: 300px;
	display:flex;
    align-items: center;
    justify-content: center;
	margin-bottom: 2vw;
}
figure{
	position: relative;
	height: 100%;
}
.credit {
	line-height: 0.5;
	font-size: 1em;
	position: absolute;
	bottom: 0.5em;
	left: 0.5em;
	font-style: italic;
	font-weight: bold;
	color: var(--green);
	font-family: var(--extra-font);
	text-shadow: 1px 1px var(--black);
}
.credit_new {
	line-height: 0.5;
	font-size: 1em;
	position: absolute;
	top: 0.5em;
	left: 0.5em;
	font-style: italic;
	font-weight: bold;
	color: var(--green);
	font-family: var(--extra-font);
	text-shadow: 1px 1px var(--black);
}
img{
	width:100%;
	max-width: 480px;
	height: inherit;
	border-radius: 5px;
	box-shadow: 5px 5px var(--yellow);
}
.bakery_detail{
	display: flex;
}
dl {
	margin-left: 2vw;
	max-width: 400px;
}
@media screen and (max-width: 1000px) {
	body {
		width: 80vw;
	}
	.bakery_detail{
		flex-direction: column;
	}
	dl {
		margin-left: 0;
		margin-top: 2vw;
	}
	
	
}
@media screen and (max-width: 1350px){
	.new_content{
		flex-direction: column;
	}
}
@media screen and (min-width: 1350px) {
	.new_content figure{
		width: 32%;
	}
}
.new{
	margin-bottom: 2vw;
}
.new_content{
	display: flex;
	justify-content: space-between;
}

figure{display:table}
.desc{display:table-caption;caption-side:bottom}
nav{
	margin-bottom: 2vw;
}
nav a{
	color: var(--cream);
	padding: 0.6vw 1vw;
	border: none;
	border-radius: 5px;
	margin-right: 1vw;
	background-color: var(--orange);
	font-size: 1.2em;
	font-family: var(--title-font);
}
nav a::after{
    content: none;
	
}
nav a:hover{
	color: var(--cream);
	border: none;
	background-color: var(--yellow);
}

.quote{
	background-color: var(--green);
	padding: 2vw;
	border-radius: 10px;
	width: 70%;
	margin: 0 auto;
	margin-bottom: 2vw;
}
.quote p {
	margin: 0;
	font-style: italic;
}